/*Navbar Start*/
Nav
{
    background-image:linear-gradient(to left,#aa076b , #61045f);/* or #000428 → #004e92*/
  /*background-image: linear-gradient(335deg, #ff9933 23px, transparent 23px),
    linear-gradient(155deg, #ff9933 23px, transparent 23px),
    linear-gradient(335deg, #ff9933 23px, transparent 23px),
    linear-gradient(155deg, #ff9933 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;*/
}
.drop a:hover,.drop{
    background-color:#141114;
}
.sign {
    width:100%;
    text-align:center;
    margin:0px;
    padding:0px;
    /*position: absolute;
  display: flex;
  /*justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;*/
  /*background-image: radial-gradient(ellipse 50% 35% at 50% 50%,#6b1839,transparent);
  transform: translate(-50%, -50%);
  /*letter-spacing: 2;*/
  /*left: 50%;
  top: 50%;*/
  font-family: "Clip";
  text-transform: uppercase;
  /*font-size: 6em;*/
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}
.flicker, .fast-flicker
{
    padding:0px;
    margin:0px;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}


a.logo
{
    font-size:30px;
    text-decoration:none;
    outline:none;
    color:#ffe6ff;
    font-weight:bold;
}
a.logo:hover{
    color:#ffe6ff;
}
.home a, .shop a, .blog a, .search , .cart, .user
{
    text-decoration:none;
    outline:none;
    color:#ffe6ff;
    font-size:28px;
}
.home a:hover, .shop a:hover, .blog a:hover, a.search:hover , a.cart:hover, a.user:hover{
    color:#ffe6ff;
}
.customtoggler.navbar-toggler
{
    border:2px solid indianred;
}
   
        .customtoggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(205,92,92)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 
@media(max-width:991px)
{
     .search, .cart, .user{
        text-align:center;
        width:100%;
    }
}
/*Navbar Ending*/
#leftColumn{
	padding-top: 20px;
   height: 60vh;
    background-color: honeydew;
}
#rightColumn{
		padding-top: 20px;
 height: 60vh;
background-color: lightpink;


}
.container-fluid{
	padding-top: 45px;
}

body{
	 background-color: paleturquoise;
}


button{
	background:linear-gradient(45deg,#E74C3C ,gold);
}


#contactSection{
	
	
	border: 1px;
	border-color: black;
    border-style:ridge;
}

iframe{
	padding: 15px;
	margin: 5px;
	height:45vh;
	width:100%;
	}
	#contactHeading{

	border: 10px;
	padding: 5px;
		color: crimson;

}
#locationHeading{

	border: 10px;
	padding: 5px;
		color: coral;

}
label{
	color: crimson;
}