.footer-top{
    background-image: linear-gradient(to left,#aa076b , #61045f);;
    color: white;
    padding: 50px 0;
    padding-left: 15px;
    
}
.segment-one, .segment-two , .segment-three 
{
    border-right: 1px solid #cc5490;
    text-align:center;
}

.segment-one h2{
    font-family:'Courier New', Courier, monospace;
    color:#cc5490;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0;
}
.segment-two h2{
    font-weight:bold;
     color:#cc5490;
    font-family:'Courier New', Courier, monospace;
}
/*.segment-two h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255, 255, 0.3);
    line-height: 30px;
}
.segment-two ul li a{
    text-align:center;
    text-decoration: none;
    color:#ffe6ff;
}
.segment-three h2{
    font-weight:bold;
     color:#cc5490;
    
    font-family: 'Courier New', Courier, monospace;
  }
/*.segment-three h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.segment-three a{
    background: #ffe6ff;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color:#cc5490;
    padding: 10px 12px;
}
.segment-four h2{
    color:#cc5490;
    font-weight:bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/*.segment-four h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.sub{
    
    display: block;
}

.segment-four form input[type=submit]{
    background:#ffe6ff;
    border:none;
    padding: 3px 2px;
    margin-left: -5px;
    color: #cc5490;
    text-transform: uppercase;
}

.footer-bottom-text{
    text-align: center;
    background:#ffe6ff;
    line-height: 50px;
    color:#cc5490;

    margin-bottom:0;
}
.page-footer
{
    margin-top:10px;
}
/*.page-footer{
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    


}*/
