html {
  box-sizing: border-box;
}
body{
background-image: linear-gradient(#847ade,#8dcdf2);
}

*, *:before, *:after {
  box-sizing: inherit;
}
h1{
  font-family: 'Libre Baskerville', serif;
  padding: 20px 0 5px 0;
  text-align: center;
  justify-content: center;
  color: whitesmoke;
  text-decoration: underline;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 550px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color:#e61c8b;
text-decoration: underline;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.dropdown a:hover{
  color: #847ade;
}
.top p{
  text-align: center;
  font-size: 30px;
  font-family: 'Oleo Script', cursive;
  color: whitesmoke;
 
}