html,body {
  height:100vh;
}
.item, .active {
  height:100vh;
}
.carousel { 
  top: 0;
}
.carousel-inner {
  height:100vh;
}
.carousel-inner img {
  margin: auto;
}
.navbar{
 z-index:9; 
}
#fullCarousel{
  position:absolute;
  width:100%;
  top:0;
}
.display b
{
    font-size: 25px;
    color:black;
}
@media(max-width:768px)
{
    .image
    {
        visibility:hidden;
    }
    .logo
    {
        text-align:center;
    }
}
