.con
{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    flex-wrap:wrap;
    padding:30px;
}
.con .card1
{
    position:relative;
    width:200px;
    height:250px;
    background: #ffe6ff;
    margin:30px 10px;
    padding:20px 15px;
    display:flex;
    flex-direction:column;
    box-shadow:0 5px 202px rgba(0,0,0,0.5);
    transition:0.3s ease-in-out;
}
.con .card1:hover{
    height:450px;
}
.con .card1 .imgBox
{
    position:relative;
    width:200px;
    height:250px;
    top:-48px;
    left:-15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
}
.con .card1 .imgBox img
{
    max-width:100%;
    height:100%;
    border-radius:4px;
}
.con .card1 .content
{
    position:relative;
    margin-top:-70px;
    padding:10px 15px;
    text-align:center;
    color:#cc5490;
    visibility: hidden;
    opacity:0;
    transition:0.3s ease-in-out;
}
.con .card1:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top:-70px;
    transition-delay: 0.3s;
}





















/*.heading.display{
	background-image: linear-gradient(to left,#aa076b , #61045f);
	color: coral;
	text-align:center;
	word-spacing: .5em;
	border: red;
	height: 5%;

}

/*.card-img{
	height:30vh; 
	width: 30vh;
	float: center;
	object-fit: cover;
	background-size: cover; 
	box-sizing: border-box;
	border: none;
	padding: none;
	margin: none;
	
}
.column{
	box-sizing: border-box;
	border: 20px;
    
   }

.shopbybrand{
	 background-image: linear-gradient(to left,#aa076b , #61045f);
}

.card{
	box-sizing: border-box;
	border: 1px solid black;
	margin: 2px;
	margin-top: 28px;
     30vh;
width:30vh;
  

}
.card:hover{
	transform: translate3d(0,-1px,0) scale(1.13);
}*/
