
html , body{
    background-image: linear-gradient(to left,#aa076b , #61045f);/* or #000428 → #004e92*/
    margin: 0;
    padding: 0;
    height:100%;
 }

 *{
    box-sizing: border-box;
}


Nav
{
    background-image:linear-gradient(to left,#aa076b , #61045f);/* or #000428 → #004e92*/
  /*background-image: linear-gradient(335deg, #ff9933 23px, transparent 23px),
    linear-gradient(155deg, #ff9933 23px, transparent 23px),
    linear-gradient(335deg, #ff9933 23px, transparent 23px),
    linear-gradient(155deg, #ff9933 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;*/
}
.drop a:hover{
  background-color:#141114;
}

.drop{ 
  background-color: black;
}
.sign {
    width:100%;
    text-align:center;
    margin:0px;
    padding:0px;
    /*position: absolute;
  display: flex;
  /*justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;*/
  /*background-image: radial-gradient(ellipse 50% 35% at 50% 50%,#6b1839,transparent);
  transform: translate(-50%, -50%);
  /*letter-spacing: 2;*/
  /*left: 50%;
  top: 50%;*/
  font-family: "Clip";
  text-transform: uppercase;
  /*font-size: 6em;*/
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}
.flicker, .fast-flicker
{
    padding:0px;
    margin:0px;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}


a.logo
{
    font-size:30px;
    text-decoration:none;
    outline:none;
    color:#ffe6ff;
    font-weight:bold;
}
a.logo:hover{
    color:#ffe6ff;
}
.home a, .shop a, .blog a, .search , .cart, .user
{
    text-decoration:none;
    outline:none;
    color:#ffe6ff;
    font-size:28px;
}
.home a:hover, .shop a:hover, .blog a:hover, a.search:hover , a.cart:hover, a.user:hover{
    color:#ffe6ff;
}
.customtoggler.navbar-toggler
{
    border:2px solid indianred;
}
   
        .customtoggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(205,92,92)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 
@media(max-width:991px)
{
     .search, .cart, .user{
        text-align:center;
        width:100%;
    }
}
/*Navbar Ending*/





.head-t{
    margin-top: 10px;
    padding: 20px;
   background-color:honeydew;
}
.head-t h1{
    margin-right: 26em;
    color: rgb(85, 84, 84);
}


.carousel-container{
    width: 80.8%;
    margin: auto;
 
    padding-top: 80px;
    padding-bottom: 11px;
    overflow: hidden;
    position: relative;
    background-color: white;
   
}
.carousel-slide{
   
    border-radius: 50%;
    display:flex;
    width: 100%;
      background-color: white;
}
.adjust{
    padding: 10px;
    
}

#prevBtn{
    position: absolute;
    top: 40%;
    z-index: 10;
    left: 5%;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 40%;
    z-index: 10;
    right: 5%;
    font-size: 35px;
    color: white;
    cursor: pointer;
}
#nextBtn:hover{
    opacity: 0.7;
    font-size: 50px;
}

#prevBtn:hover{
    opacity: 0.7;
    font-size: 50px;
}

.gri{
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 45px;
    position: relative;
}

img{
    cursor: pointer;
}
.blog-1-img{
    height: 200px;
    width: 300px;
}
.single-blog{
    box-shadow: 0px 0px 20px 1px rgba(0,0,00.2);
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.single-blog img{
    width: 100%;
}

.blog-meta{
    font-size: 14px;
    margin-bottom: 2px;
}
.single-blog span{
    float:right;
    font-size: 12px;
    color: cornflowerblue;
}
.blog-text{
    font-size: 14px;
    text-align: justify;
}
.single-blog h2{
    margin-top: 10px;
    font-size: 16px;
    color:#007bff;
}
.single-blog h2 a{
    text-decoration: none;
}
.read-more-btn{
    background-image: linear-gradient(to right,#1c03b5,#5c8bef);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color:#fff;
    border:none!important;
}

.read-more-btn:hover{
    background-image: linear-gradient(to right,#aa076b ,  #61045f);
    text-decoration: none;
    color: #fff;
}
.max:hover,.max:focus{
    width: 350px;
    height: 450px;
}
.footer-top{
    background-image: linear-gradient(to left,#aa076b , #61045f);;
    
    padding: 50px 0;
    padding-left: 15px;
    
}
.segment-one, .segment-two , .segment-three , .segment-four
{
    color: white;
    border-right: 1px solid #cc5490;
    text-align:center;
}

.segment-one h3{
    font-family:'Courier New', Courier, monospace;
    color:#cc5490;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0;
}
.segment-two h2{
    font-weight:bold;
     color:#cc5490;
    font-family:'Courier New', Courier, monospace;
}
/*.segment-two h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255, 255, 0.3);
    line-height: 30px;
}
.segment-two ul li a{
    text-align:center;
    text-decoration: none;
    color:#ffe6ff;
}
.segment-three h2{
    font-weight:bold;
     color:#cc5490;
    
    font-family: 'Courier New', Courier, monospace;
  }
/*.segment-three h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.segment-three a{
    background: #ffe6ff;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color:#cc5490;
    padding: 10px 12px;
}
.segment-four h2{
    color:#cc5490;
    font-weight:bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/*.segment-four h2:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}*/
.sub{
    
    display: block;
}

.segment-four form input[type=submit]{
    background:#ffe6ff;
    border:none;
    padding: 3px 2px;
    margin-left: -5px;
    color: #cc5490;
    text-transform: uppercase;
}

.footer-bottom-text{
    text-align: center;
    background:#ffe6ff;
    line-height: 50px;
    color:#cc5490;

    margin-bottom:0;
}
.page-footer
{
    margin-top:10px;
}
.imgt{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 7px;
    color:#007bff;
}
.imgt span{
    float: right;
    color: gray;
    margin-right: 15px;
    font-size:15px ;
}
.imgp{
    margin-left: 7px;
}
.imgp span{
    color: grey;
}
.date-display{
    float:right;
    margin-right: 20px;
}
hr{
    display: block;
    margin-left: 70px;
    margin-right: 70px;
}



