.heading{
	background-color: honeydew;
	color: coral;
	text-align:center;
	word-spacing: .5em;
	border: red;
	height: 5%;

}
#view_More{
	text-align:center;
	word-spacing: .1em;
	background-color: lightpink;
	width: 100%;
	margin-top: 4px; 
	color: crimson;
}
img{
	height:30vh; 
	width: 30vh;
	float: center;
	object-fit: cover;
	background-size: cover; 
	box-sizing: border-box;
	border: none;
	padding: none;
	margin: none;
	hover
}
.col-md-3-col-6{
	box-sizing: border-box;
	border: 20px;

   }

body{
	 background-color: paleturquoise;
}

.card{
	box-sizing: border-box;
	border: 1px solid black;
	margin: 2px;
	margin-top: 28px;


}
.card:hover{
	transform: translate3d(0,-1px,0) scale(1.13);
}
