---
layout: base.njk
permalink: /about/
eleventyNavigation:
    key: About Us
    title: About Us
---
<link rel="stylesheet" href="/assets/css/about.css">
<div id="nav-placeholder"></div>
<div class="about-section" id="about">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            "Handmade" is one of the most effective descriptors to help emphasize the quality and uniqueness of a
            product. Like any other word, though, it comes with baggage and must be used with care. Understanding what
            "handmade" actually means and how it can be applied is necessary to using it safely.
            <br />
            Seen as developing the skills and creative interests of students, generally and sometimes towards a
            particular craft or trade, handicrafts are often integrated into educational systems, both informally and
            formally. Most crafts require the development of skill and the application of patience but can be learned by
            virtually anyone.
        </p>
    </div>
</div>
<!------------------------Our Team-------------------------->
<div class="team-section">
    <h1>Our Team</h1>

    <div class="container">
        <div class="card">
            <div class="box">
                <img src="https://ca.slack-edge.com/T0145PE3493-U0149QFDDU5-94cdc7703fd4-512" alt="team img" />
                <h4>Jaidev Singh Bhui</h4>
                <h5>Uplift Project Mentor</h5>
                <p>Front-End Developer and Mentor At Uplift Project</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://ca.slack-edge.com/T0145PE3493-U014Q54DC9F-cbbf1c95fd16-512" alt="team img" />
                <h4>Nidhi Raniyer</h4>
                <h5>Uplift Project Mentor</h5>
                <p>Front-End Developer and Mentor At Uplift Project</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://ca.slack-edge.com/T0145PE3493-U015108FFB2-ba8e9202c6a0-512" alt="team img" />
                <h4>Muskan Jaiswal</h4>
                <h5>Uplift Project Participant</h5>
                <p>Front-End Developer and Participant At Uplift Project</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://ca.slack-edge.com/T0145PE3493-U014B66DD50-902eabb7541a-512" alt="team img" />
                <h4>Milind Gupta</h4>
                <h5>Uplift Project Participant</h5>
                <p>Front-End Developer and Participant At Uplift Project</p>
            </div>
        </div>

    </div>

</div>
<div class="uplift-section row">
        <div class="col-md-6 mb-5 p-0">
            <div class="uplift-text">
                <h1>Uplift Project</h1>
                <p>This new global project aims at helping everyone looking for opportunities to leverage their
                    knowledge,
                    skills, and potential to higher levels. If you want to learn Public Speaking(English) and lag the
                    skill
                    of communicating your ideas. If you’re a student wanting to learn tech stacks like HTML, CSS,
                    JavaScript, Angular, React, Node Js, Artificial Intelligence, Machine Learning and many more, if you
                    are
                    the one with enough knowledge of skills mentioned above then this program is for all of you!
                </p>

                <a href="https://upliftproject.tech/#/about" target="_self">
                    <botton class="uplift-btn">Know More</botton>
                </a>
            </div>
        </div>

        <div class="uplift-right-col col-md-6">
                <div class="uplift-image">
                    <img src="/assets/img/uplift_logo.b88e5b69.jpg" width="200px" height="200px">
                </div>
                <h1>Follow us on Social Media</h1>

                <div class="social-media">
                    <a href="https://www.facebook.com/Girlscript"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com/uplift_project?lang=en"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/The-Uplift-Project/html-css-js/tree/Team-HTML07"><i
                            class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/girlscript/?hl=en"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/upliftproject/"><i class="fab fa-linkedin"></i></a>
                </div>
        </div>
</div>