---
layout: base.njk
permalink: /contact/
eleventyNavigation:
    key: Contact Us
    title: Contact Us
---
<link rel="stylesheet" href="/assets/css/contact.css">
    <section class="contact-section">
<section class="jumbotron">
    <h1>Contact Us</h1>
</section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <p class="lead">Email us at: johndoe@example.com</p>
                <p class="lead">Call us at: +91 9999999999</p>
                <a href="" class="btn btn-dark btn-lg"><i
                    class="fab fa-github"></i> View on GitHib</a>
            </div>
            <div class="col-md-6">
                <img class="contact-image" src="/assets/img/contact.jpeg" alt="">
            </div>
            
        </div>
    </div>
</section>