---
title: Home
layout: base.njk
permalink: /
---
<link rel="stylesheet" href="/assets/css/home.css">
<div class="landing">
    <div class="overlay">
        Handicrafts are a wonderful way to add beauty to life. Add it to yours now...
        <a href="/explore/" class="btn btn-success">Explore</a>
    </div>
</div>