---

---
<!------------------------Our Team-------------------------->
<div class="team-section">
    <h1>Our Team</h1>

    <div class="container">
        <div class="card">
            <div class="box">
                <img src="https://ca.slack-edge.com/T0145PE3493-U0149QFDDU5-94cdc7703fd4-512" alt="team img" />
                <h4>Jaidev Singh Bhui</h4>
                <h5>Uplift Project Mentor</h5>
                <p>Front-End Developer and Mentor At Uplift Project</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://ca.slack-edge.com/T0145PE3493-U014Q54DC9F-cbbf1c95fd16-512" alt="team img" />
                <h4>Nidhi Raniyer</h4>
                <h5>Uplift Project Mentor</h5>
                <p>Front-End Developer and Mentor At Uplift Project</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://ca.slack-edge.com/T0145PE3493-U015108FFB2-ba8e9202c6a0-512" alt="team img" />
                <h4>Muskan Jaiswal</h4>
                <h5>Uplift Project Participant</h5>
                <p>Front-End Developer and Participant At Uplift Project</p>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="https://ca.slack-edge.com/T0145PE3493-U014B66DD50-902eabb7541a-512" alt="team img" />
                <h4>Milind Gupta</h4>
                <h5>Uplift Project Participant</h5>
                <p>Front-End Developer and Participant At Uplift Project</p>
            </div>
        </div>

    </div>

</div>